<div class="container">
  <div class="row">
    <table class="table table-bordered">
      <thead class="table-danger">
        <tr>
          <th>Id</th>
          <th>Name</th>
          <th>Email</th>
          <th>Role</th>
        </tr>
      </thead>
      <tbody>
        @for(user of users; track $index){
        <tr>
          <td>{{ $index + 1 }}</td>
          <td>{{ user.name }}</td>
          <td>{{ user.email }}</td>
        </tr>
        }
      </tbody>
    </table>
  </div>
</div>
